.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.grid-container .title-grid-wrap {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 4;
}

.grid-item {
  position: relative;
  overflow: hidden;
  width: 72%;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* this centers the image horizontally */
  transition: transform 0.3s ease;
  transform: scale(1);
}

.grid-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.grid-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.grid-item:hover .grid-item-content {
  transform: translateY(0%);
}

.grid-item-content h5 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(50%)
    ); /* Change to 2 pictures in a row or column */
    grid-gap: 20px; /* Adjust the gap between pictures */
    padding: 1px; /* Adjust padding for smaller screens */
  }
  .grid-item-content h5 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
  }
}

.booking-form {
  padding: 30px;
  border: 3px solid #9a3b3b;
  border-radius: 10px;
  box-shadow: #9a3b3b;
}

.booking-form h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #9a3b3b;
  text-align: center;
}
