body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
.user-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  max-width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.user-selection h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.user-icons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.user-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5%;
  transition: all 0.3s;
}
.user-icon img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.user-icon p {
  margin-top: 10px;
  font-weight: bold;
}
.user-icon.selected {
  border: 2px solid #9a3b3b;
}
.next-button {
  margin-top: 20px;
  background-color: #9a3b3b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.next-button:hover {
  background-color: #9a3b3b;
}
